<html>
<head>
</head>
<body>
<div id="common-home" class="container">
  <div class="row">
    {% set class = 'col-sm-12' %}
    <div id="content" class="{{ class }}"></div>
      <b>Hello world!</b>
    </div>
</div>
</body>
</html>