<!DOCTYPE html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>OpenPHP</title>
</head>
<body>

<header>
  <div class="container">
    <div class="row">
    </div>
  </div>
</header>

<div id="common-home" class="container">
  <div class="row">
    <div id="content">404 Not Found!</div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
    </div>
  </div>
</footer>

</body>
</html>